table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;

  .addition-field {
    background: #bcebdd;
  }
}
header-field:last-child field:first-child {
  border-radius: 0 0 0 10px;
}
header-field:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
header-field field:last-child {
  border-right: none;
}

.delete-field {
  cursor: pointer;
}
